/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000000f1;
    height: 100vh;
    background-image: url(./images/pexels-photo-7923345.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.logo img {
    max-width: 50%;
    height: auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: hsla(341, 100%, 50%, 0.766);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-social {
    display: flex;
    justify-content: center;
    /* Centraliza os botões */
    gap: 10px;
    /* Espaçamento entre os botões */
}

h2.titulo {
    color: #fff;
    font-size: 34px;
    text-align: center;
}

h2.titulo span {
    color: hsla(341, 100%, 50%, 0.766);
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px hsla(341, 100%, 50%, 0.766);
    transform: scale(1.05);
    transition: .2s;
}

/* Estilo do cabeçalho */
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;

}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 20px;
    margin-right: 60px;
}

/* Estilo do menu mobile */
.btn-abrir-menu i{
    color: hsla(341, 100%, 50%, 0.766);
    font-size: 40px;
}
.menu-mobile{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0;
    overflow: hidden;
    transition: .5s;

}
.menu-mobile.abrir-menu{
    width: 70%;
}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}
.menu-mobile .btn-fechar{
    padding: 20px 4%;
}
.menu-mobile .btn-fechar i{
    color: hsla(341, 100%, 50%, 0.766);
    font-size: 30px;
}
.menu-mobile nav ul{
    text-align: right;
}
.menu-mobile nav ul li a{
    color: #fff;
    background-color: #000000f1;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
}
.menu-mobile nav ul li a:hover{
    background-color: hsla(341, 100%, 50%, 0.766);
    color: #000000f1;
}
.overlay-menu{
    background-color: #00000098;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* Estilo do topo do site */
section.topo-do-site {
    padding: 40px 4%;

}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;

}

.topo-do-site .txt-topo-site h1 span {
    color: hsla(341, 100%, 50%, 0.766);
    font-size: 40px;

}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;

}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: voando 2s ease-in-out infinite alternate;
    height: 400px;
    border-radius: 100%;
    border: 2px solid hsla(341, 100%, 50%, 0.766);
    margin-right: 50px;
}

@keyframes voando {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* Estilo das especialidades */
section.especialidades {
    padding: 100px 4%;
}

section.especialidades .flex {
    gap: 60px;
    box-shadow: 0 0 40px 10px #ffffff6e;
    margin-top: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 25px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff7e;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: hsla(341, 100%, 50%, 0.766);
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* Estilo do sobre */
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;

}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: hsla(341, 100%, 50%, 0.766);
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: hsla(341, 100%, 50%, 0.766);
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
}

/* Estilo do Portifólio */
section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff6e;

}

section.portifolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 2s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2c302c57;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    color: #080908;
    font-weight: bold;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* Estilo do formulario de contato */
section,
.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #2a2a2a;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form input,
form textarea::placeholder {
    color: hsla(341, 100%, 50%, 0.766);
}

form input::placeholder {
    color: hsla(341, 100%, 50%, 0.766);

}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: hsla(341, 100%, 50%, 0.766);
    color: #000;
    font-weight: bold;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* Estilo do rodapé */
footer {
    padding: 30px 4%;
    box-shadow: 0 0 40px 10px #ffffff6e;
}

footer .flex {
    justify-content: space-between;

}

footer .line-footer {
    padding: 20px 0;

}

.borda {
    border-top: 2px solid hsla(341, 100%, 50%, 0.766);
}

footer img {
    max-width: 10%;
    height: auto;
}

footer .line-footer p i {
    color: hsla(341, 100%, 50%, 0.766);
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

footer .direitos-reservados {
    text-align: center;
    color: #ffffff7b;
    font-family: Arial, Helvetica, sans-serif;
}



/* Topo do site */
section.topo-do-site .flex {
    gap: 60px;
}

section.topo-do-site {
    padding: 20px 8%;
    text-align: center;
}

.topo-do-site h1 {
    font-size: 30px;
}

.topo-do-site .img-topo-site img {
    width: 100%;
}

/* Estilo das especialidades */
section.especialidades {
    padding: 40px 8%;
}
/* Estilo do sobre */
section.sobre {
    padding: 80px 8%;
}
.sobre .txt-sobre h2 {
    font-size: 34px;
    line-height: 35px;
    margin-bottom: 30px;
    text-align: center;
}
/* Estilo do Portifólio */
section.portifolio {
    padding: 80px 8%;
}
.img-port {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 2s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}
section.portifolio .flex {
   gap: 60px;
}

/* Rodapé */
footer .flex {
    flex-direction: column;
}
footer .line-footer {
   text-align: center;
   

}
@media screen and (max-width: 1000px) {
    /* Estilos aplicados a telas com largura máxima de 1020px */


    /* Classes gerais */
    .flex {
        flex-direction: column;
    }
    h2.titulo {
        font-size: 34px;
       line-height: 30px;
    }
    
    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    /* Cabeçalho */
    .menu-desktop,
    .btn-contato {
        display: none;
    }
}